.differentUs {
    background-color: #1869E8;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #eee;
    height: 100%;
    display: flex;
    align-items: center;
}
.col-hr {
    border-right: 2px solid white;
}
.col-grid-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.differentUs h4 {
    font-weight: 600;
    font-size: 28px;
}
.differentUs h6 {
    font-size: 20px;
    margin-bottom: 100px;
}
.differentUs .col-3 img {
    margin-top: 100px;
}